<div class="top_page">
  <div class="top_page_app">
    <h1 class="top_page_title">
      <span class="icontag"><<</span>
      お得情報を登録しよう
      <span class="icontag">>></span>
    </h1><br/>
    <div class="app_main_explain">
      ～ メイン機能紹介 ～
      <p class="app_explain">
        shopping_carendarはカレンダー機能付き情報共有アプリです
      </p><br/>
      <p class="app_explain">
        ①shopping_carendarでお得情報をメモしよう
      </p>
      <div class="img_sample">
        <%= video_tag "new_event.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div><br/>
      <p class="app_explain">
        ②shopping_carendarで知らなかった情報を手に入れよう
      </p>
      <div class="img_sample">
        <%= video_tag "event_favorite.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div>
    </div>
    <br/><br/>
    <div class="app_main_explain">
      ～ その他機能紹介 ～
      <p class="app_explain">
        ①お得情報一覧機能
      </p>
      <div class="img_sample">
        <%= video_tag "all_events.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div><br/>
      <p class="app_explain">
        ②地域情報検索機能
      </p>
      <div class="img_sample">
        <%= video_tag "search_events.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div>
      <br/>
      <p class="app_explain">
        ③マイページで自身の投稿一覧とお気に入り一覧の確認
      </p>
      <div class="img_sample">
        <%= video_tag "user_show.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div>
      <br/>
    </div>
  </div>
</div>