
<div class="top_page">
  <div class="top_page_app">
    <div class="top_page_title_box">
      <div class="top_page_title1">
        Shopping_Calendarでお得に情報を Get しよう🎵
      </div><br/>
      <div class="top_page_title">
        < 便利Point >
      </div>
    </div>
    <div class="app_main_explain">
      <div class="image_post">
        カレンダー機能
        <%= image_tag "calendar.png", class:"button js-modal-button" %>
      </div>
      <div class="layer js-modal">
        <div class="modal">
          <div class="modal__inner">
            <!-- ×ボタン追記 -->
            <div class="modal__button-wrap">
              <button class="close-button js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="modal__contents">
              <div class="modal__content">
                <%= video_tag "new_event.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image_post">
        お気に入り機能
        <%= image_tag "favorite.png", class:"button js-modal-button" %>
      </div>
      <div class="layer js-modal">
        <div class="modal">
          <div class="modal__inner">
            <!-- ×ボタン追記 -->
            <div class="modal__button-wrap">
              <button class="close-button js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="modal__contents">
              <div class="modal__content">
                <%= video_tag "event_favorite.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image_post">
        共有機能
        <%= image_tag "index.png", class:"button js-modal-button" %>
      </div>
      <div class="layer js-modal">
        <div class="modal">
          <div class="modal__inner">
            <!-- ×ボタン追記 -->
            <div class="modal__button-wrap">
              <button class="close-button js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="modal__contents">
              <div class="modal__content">
                <%= video_tag "all_events.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image_post">
        検索機能
        <%= image_tag "search.png", class:"button js-modal-button" %>
      </div>
      <div class="layer js-modal">
        <div class="modal">
          <div class="modal__inner">
            <!-- ×ボタン追記 -->
            <div class="modal__button-wrap">
              <button class="close-button js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="modal__contents">
              <div class="modal__content">
                <%= video_tag "search_events.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image_post">
        マイページ
        <%= image_tag "my_page.png", class:"button js-modal-button" %>
      </div>
      <div class="layer js-modal">
        <div class="modal">
          <div class="modal__inner">
            <!-- ×ボタン追記 -->
            <div class="modal__button-wrap">
              <button class="close-button js-close-button">
                <span></span>
                <span></span>
              </button>
            </div>
            <div class="modal__contents">
              <div class="modal__content">
                <%= video_tag "user_show.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="img_sample">
        <%= video_tag "new_event.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div><br/>
      <p class="app_explain">        ②shopping_carendarで知らなかった情報も入手できる
      </p>
      <div class="img_sample">
        <%= video_tag "event_favorite.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div>
      -->
    </div>
    <br/><br/>

    <!--
    <div class="app_main_explain">
      ～ その他機能紹介 ～
      <p class="app_explain">
        ①お得情報一覧機能
      </p>
      <div class="img_sample">
        <%= video_tag "all_events.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div><br/>
      <p class="app_explain">
        ②地域情報検索機能
      </p>
      <div class="img_sample">
        <%= video_tag "search_events.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div>
      <br/>
      <p class="app_explain">
        ③マイページで自身の投稿一覧とお気に入り一覧の確認
      </p>
      <div class="img_sample">
        <%= video_tag "user_show.mp4", class: "landing_video", loop: true, autoplay: true, muted: true %>
      </div>
      <br/>
    </div>
    -->
  </div>
</div>